# SQL Server
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_SERVER=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_TRUSTED_CONNECTION=true

# API
API_URL=
API_KEY=

# Pipeline
START_DATE=2025-01-01
END_DATE=2025-04-01
DRY_RUN=true
BATCH_SIZE=500